@font-face {
	font-family: 'profession';
	src:url('fonts/profession.eot?rtzfer');
	src:url('fonts/profession.eot?#iefixrtzfer') format('embedded-opentype'),
		url('fonts/profession.ttf?rtzfer') format('truetype'),
		url('fonts/profession.woff?rtzfer') format('woff'),
		url('fonts/profession.svg?rtzfer#profession') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="profession-"], [class*=" profession-"] {
	font-family: 'profession';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.profession-logo:before {
	content: "\e600";
}
.quote{color: white;}
.headerBackground{
	background: url(../images/img3.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
	height: 250px;}
.headerText {
    color: #FF9800;
    margin-top: 100px;
    font-size: 50px;
}
blockquote.hero {
	margin-top: 31px;
	border-left: solid 2px #FF9800 !important;
	margin-bottom: 50px;
}
blockquote.hero:hover {background: #e8e6e6!important;}


.devider-db-dashed{
	border-top: 1px dashed #FF9800 !important;
    border-bottom: 1px dashed #FF9800!important;
}
.btn-u.btn-u-orange {
    background: #e67e22;
}
.margin{
    margin-bottom: 15px !important;
    margin-left: 100px;
}
.margin40{margin-top: 40px;}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
a, a:focus, a:hover, a:active, button, button:hover {
    outline: 0 !important;
}
.btn {
    box-shadow: none;
    border-radius: 0;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/*SERVICE CONTACT PAGE*/

.formService{
    width: 100%;
    padding: 6px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:13px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .textareaService{
    height: 200px;
    max-height: 71px;
    max-width: 100%;
  }
.form-btnService {
    width: 134px;
    display: block;
    height: auto;
    padding: 6px;
    color: #fff;
    background: #ff9800;
    border: none;
    border-radius: 3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    margin-bottom: 15px;
}
  /*END*/

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #FF9800;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 119px;
    max-height: 120px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#ff9800;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    position: relative;
    z-index: 9999;
}

    .map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
    }

    .header {
        background-color: #F5F5F5;
        color: #FF9800;
        height: 70px;
        font-size: 27px;
        padding: 10px;
    }
.hb-lg-margin, .hb-md-margin, .hb-sm-margin, .hb-xs-margin{margin: 6px!important;}

.sky-form .inline-group .radio, .sky-form .inline-group .checkbox{
    margin-right: 15px !important;
}
.sky-form .radio, .sky-form .checkbox {
    padding-left: 0px !important; 
    font-size: 16px !important;
    line-height: 15px !important;
}
.sky-form {
     border:none !important; 
}
.sky-form .inline-group {
    margin: 0 -30px -4px 40px !important;
}